extends layout.pug
block content
 .main.container.clearfix
    h1 Orders You Have Placed
    table.table
        thead
            tr
            th(scope='col') item id
            th(scope='col') item Name
            th(scope='col') Quantity
        tbody
            each order in orders
                tr
                    th(scope='row')= id+=1
                    td=order.itemName
                    td=order.quantity
                    

    button.btn.btn-outline-primary(type='button') 
        a(href="/profile") Place New Orders
