extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | #{name}
        h2.favorite-book Favorite Book
        | #{favorite}
    if role === "Teacher"
      form(method='POST' action='/place-order')
        .form-group
          label(for='itemName') Item
          input#exampleInputEmail1.form-control(type='text', name='itemName' placeholder='name of item')
        .form-group
          label(for='quantity') Quantity
          input#exampleInputPassword1.form-control(type='number', name='quantity' placeholder=0)
        .form-check
        button.btn.btn-primary(type='submit') Place order
