extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h4.m-b-2 Hello teacher. Login below
        form(method='POST' action='/principal-login')
          //- label(for='role') Role:
          //- select.form-control.form-control(name='role')
          //-   option Principal
          //-   option Teacher
          //-   option Supplier
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Log in 